services:
  # Base de Datos
  mysqldb:
    image: mysql:8.0
    container_name: sanisidro-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword123
      MYSQL_DATABASE: sanisidro_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - sanisidro-net

  # Backend (Spring Boot)
  backend:
    build: ./sanisidro-backend
    container_name: sanisidro-backend
    ports:
      - "8080:8080"
    depends_on:
      - mysqldb
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/sanisidro_db?useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: rootpassword123
    networks:
      - sanisidro-net

  # Frontend (React + Nginx)
  frontend:
    build: ./sanisidro-frontend
    container_name: sanisidro-frontend
    ports:
      - "80:80" # Expone el frontend en el puerto 80 (HTTP estándar)
    depends_on:
      - backend
    networks:
      - sanisidro-net

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - sanisidro-net

  metabase:
    image: metabase/metabase:latest
    container_name: sanisidro-metabase
    ports:
      - "3001:3000" # Entrarás por el puerto 3001
    environment:
      MB_DB_TYPE: mysql
      MB_DB_DBNAME: sanisidro_db
      MB_DB_PORT: 3306
      MB_DB_USER: root
      MB_DB_PASS: rootpassword123
      MB_DB_HOST: mysqldb # Nombre del servicio de tu BD en este mismo archivo
    depends_on:
      - mysqldb
    networks:
      - sanisidro-net

volumes:
  db_data:
  portainer_data:

networks:
  sanisidro-net: